@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* 기본 폰트 검정색 */
  --background-start-rgb: 235, 243, 243; /* 기본 배경색 하얀색으로 변경 */
  --background-end-rgb: 235, 243, 243; /* 기본 배경 끝 색도 하얀색으로 변경 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 243, 243;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ebf3f3;
  color: black;
}
